In [42]:
import numpy as np
import pandas as pd

In [43]:
#Loading the test dataset
##########################

test = pd.read_csv('test.csv')
ids_test = test['User_ID'].copy()
product_ids_test = test['Product_ID'].copy()

In [44]:
# Loading our Solutions
#######################

#test_pred_1 = pd.read_csv('final_solutionKiril2482.csv')
test_pred_2 = pd.read_csv('final_solutionBinga2465.csv')
test_pred_3 = pd.read_csv('final_solutionSRK2466.csv')
test_pred_4 = pd.read_csv('final_solutionNoFeatureBinga2470.csv')

In [45]:
test_pred_2.head()

   User_ID Product_ID      Purchase
0  1000004  P00128942  15943.361328
1  1000009  P00113442  10568.170703
2  1000010  P00288442   7103.116895
3  1000010  P00145342   2289.440894
4  1000011  P00053842   2372.109033

In [46]:
test_pred_3.head()

   User_ID Product_ID      Purchase
0  1000004  P00128942  14776.462891
1  1000009  P00113442  11152.509766
2  1000010  P00288442   6906.903809
3  1000010  P00145342   2210.062744
4  1000011  P00053842   2470.601074

In [48]:
pred_df = pd.DataFrame({'Purchase_2' : test_pred_2['Purchase'],
                        'Purchase_3' : test_pred_3['Purchase'],
                        'Purchase_4' : test_pred_4['Purchase']})

In [49]:
pred_df.head()

     Purchase_2    Purchase_3    Purchase_4
0  15943.361328  14776.462891  16005.889844
1  10568.170703  11152.509766   9726.478125
2   7103.116895   6906.903809   6400.665332
3   2289.440894   2210.062744   3045.635059
4   2372.109033   2470.601074   1982.485229

In [50]:
test_pred_avg = pred_df.mean(axis=1)

In [51]:
# Submission file

submit = pd.DataFrame({'User_ID': ids_test, 'Product_ID': product_ids_test, 'Purchase': test_pred_avg})
submit = submit[['User_ID', 'Product_ID', 'Purchase']]

In [52]:
submit.ix[submit['Purchase'] < 0, 'Purchase'] = 12       # changing min prediction to min value in train
submit.to_csv("final_solution-avg.csv", index=False)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':